.JoinRoom {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 400px;

	&-Form {
		margin-top: 25px;
	}

	&-Title {
		width: 100%;
		height: 50px;

		font-size: 26px;
		line-height: 50px;
		text-align: center;
	}

	&-InputItem,
	&-InputSubmit,
	&-RedirectButton {
		display: block;

		width: 250px;
	}

	&-InputItem {
		margin-top: 10px;
		border: none;
	}

	&-InputSubmit {
		margin-top: 15px;

		background-color: #a9a9a9;

		color: #fff;
	}

	&-RedirectButtonContainer {
		margin-top: 35px;

		text-decoration: none;
	}
}
