.GameSettings {
	width: 150px;

	&-SettingsGroup {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 20px 10px 0;

		> .Input-Body {
			border-bottom: 1px solid #353b48;
		}

		.Input {
			&-Body {
				display: flex;
				justify-content: space-between;
				padding: 5px;
			}

			&-Input {
				display: block;
				width: min-content;
			}

			&-Content {
				margin-left: 20px;
			}
		}
	}

	&-Setting {

	}
}
