.GameField {
	width: 35vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&-Game {
		width: 100%;
		height: 100%;
	}

	&-Control {
		padding: 20px 10px 50px;
		text-align: center;
	}

	&-Hint {
		font-size: 24px;
		line-height: 40px;
	}

	&-CreateButton,
	&-JoinButton,
	&-JoinInput {
		display: block;
		margin: 40px 10% 0;
		box-sizing: border-box;

		.Input {
			width: 100%;
			height: 50px;
			border: none;
			border-radius: 5px;
			line-height: 40px;
			font-size: 24px;
		}
	}

	&-JoinInput {
		.Input {
			&_type_text {
				padding: 10px;
				width: 70%;
			}

			&_type_submit {
				background-color: darkgrey;
				color: #fff;
				margin-left: 5%;
				width: 25%;
			}
		}
	}

	&-Start {
		height: 300px;
		width: 100%;
		background: url(../../images/spies.jpg) no-repeat center;
		background-size: cover;
		border-radius: 15px;
	}

	&-StartButton {
		margin: 20px auto 50px;
		width: 50%;
		height: 50px;

		.Input-Input {
			background-color: darkgrey;
			border: none;
			border-radius: 15px;
			font-size: 30px;
			line-height: 50px;
			color: #fff;
		}
	}

	&-StoryCard {
		margin: 0 auto;
	}

	&-Faq {
		display: block;
		margin: 30px auto 0;
	}

	&-PlayersList {
		position: absolute;
		top: 0;
		left: -150px;
	}

	&-Settings {
		position: absolute;
		top: 0;
		right: -300px;
		// height: 400px;
		overflow: auto;
	}

	&-Locations {
		position: absolute;
		top: 0;
		right: -200px;
		// height: 400px;
		overflow: auto;
	}
}
