.GameField {
	width: 85vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&-Content {
		width: 100%;
		min-width: 1200px;
		height: 80vh;
		display: flex;
		justify-content: space-between;
	}

	&-Game {
		width: 50%;
	}

	&-PlayersList,
	&-Settings,
	&-Locations {
		width: 280px;
		// height: 400px;
	}

	&-Control {
		padding: 20px 10px 50px;
		text-align: center;
	}

	&-Hint {
		font-size: 24px;
		line-height: 40px;
	}

	&-CreateButton,
	&-JoinButton,
	&-JoinInput {
		display: block;
		margin: 40px 10% 0;
		box-sizing: border-box;

		.Input {
			width: 100%;
			height: 50px;
			border: none;
			border-radius: 5px;
			line-height: 40px;
			font-size: 24px;
		}
	}

	&-JoinInput {
		display: flex;
		flex-direction: column;

		.Input {
			margin: 10px 0;

			&_type_text {
				padding: 10px;
				width: 100%;
			}

			&_type_submit {
				background-color: darkgrey;
				color: #fff;
				width: 100%;
			}
		}
	}

	&-JoinPass,
	&-JoinName {
		width: 250px;
		height: 150px;
		padding: 30px 20px 40px;
		border-radius: 15px;
		background-color: lightgray;
		display: flex;
		text-align: center;
		flex-direction: column;

		&Hint {
			line-height: 30px;
			font-size: 24px;
			margin: 10px 10px;
		}

		&Input {
			line-height: 32px;
			font-size: 24px;
			margin: 10px 10px;
			padding: 0 10px;
			border: none;
			border-radius: 5px;
		}
	}

	&-Start {
		height: 300px;
		width: 100%;
		background: url(../../images/spies.jpg) no-repeat center;
		background-size: cover;
		border-radius: 15px;
	}

	&-StartHint {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 40px auto 50px;
		padding: 0 10px;
	}

	&-RoomId,
	&-StartButton {
		position: relative;
		width: 32%;
		border: none;
		background-color: darkgrey;
		color: #fff;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			color: darkgrey;
		}

		&:disabled,
		&:disabled:hover {
			background-color: unset;
			color: darkgrey;
			cursor: default;
		}
	}

	&-RoomId:hover &-RoomIdTooltip,
	&-StartButton:hover &-StartButtonTooltip {
		visibility: visible;
	}

	&-StoryCard {
		margin: 0 auto;
	}

	&-Faq {
		display: block;
		margin: 30px auto 0;
	}
}
