.CreateRoom {
	width: 35vw;

	&-Setting {
		margin: 10px auto 0;
		display: flex;
		justify-content: space-between;

		label {
			width: 40%;
			margin: 5px 0 0 5%;
			line-height: 40px;
			font-size: 24px;
		}

		.Input {
			margin: 5px auto 0;
			padding: 0 10px;
			border: none;
			border-radius: 5px;
		}
	}

	&-Submit {
		display: block;
		width: 50%;
		margin: 20px 25% 10px;
		background-color: darkgrey;
		color: #fff;
	}
}
