@font-face {
	font-family: "spy-agency";
	src: url("./consts/fonts/spyagency/3_2ital.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	background-color: #dcdde1;
	color: #353b48;

	a,
	a:visited {
		color: unset;
	}

	::-webkit-scrollbar {
		width: 7px;
		background-color: unset;
	}

	* {
		scrollbar-color: darkgrey #dcdde1;
		scrollbar-width: thin;
	}

	::-webkit-scrollbar-track {
		border: solid 1px darkgrey;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: darkgrey;
	}
}
